# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Windows
desktop.ini
Thumbs.db

# VS Code settings (optional)
.vscode/

# Power BI autosave files (if generated)
*.tmp